@import "vars";

.header {
  margin: 0 auto 55px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 0 80px 30px;
  box-shadow: 0 10px 10px -5px rgba(38, 38, 38, 0.16);

  .header-logo {
    margin-top: 5px;
  }

  .delivery {
    display: flex;
    align-items: baseline;
  }

  .delivery-time {
    height: 40px;
    width: 45px;
    border: 1px solid #e0e0e0;
    font-size: $fs-l;
    border-radius: 2px;
    outline-color: $c-green;
    padding: 0 10px;
    transition: box-shadow 0.4s;

    &:hover {
      box-shadow: 0 0 3px 3px lighten($c-green, 10%);
    }
  }

  .delivery-span {
    color: #626262;
    margin: 0 10px;
    font-weight: $fw-s;
  }

  .delivery-address {
    display: inline-block;
    background-image: url(../images/location.svg);
    background-repeat: no-repeat;
    background-position: 7px center;
    background-size: 20px;
    max-width: 120px;
    height: 38px;
    border: 1px solid #e0e0e0;
    padding-left: 35px;
    font-size: $fs-l;
    outline-color: $c-green;
    transition: box-shadow 0.4s;

    &:hover {
      box-shadow: 0 0 3px 3px lighten($c-green, 10%);
    }

  }

  .user-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-buttons {
    display: flex;
    justify-content: space-between;
    width: 175px;
  }

  .header-button {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 40px;
    border: none;
    background-color: $c-white;
    font-size: $fs-s;
    border-radius: 2px;
    box-sizing: border-box;
    transition: 0.5s;

    &:hover {
      outline: none;
      border-radius: 2px;
      box-shadow: 0 0 3px 3px lighten($c-green, 10%);
    }
  }

  .header-button-sing-in {
    border: 1px solid #e0e0e0;
  }

  .header-button-register {
    background-color: black;
    color: white;
  }
}

.header-search {
  margin: 0 80px;

  .search-input {
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 22px;
    margin-left: 5px;
    height: 40px;
    padding-left: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    font-size: $fs-l;
    outline-color: $c-green;
    transition: 0.5s;

    &:hover {
      border-radius: 5px;
      box-shadow: 0 0 3px 3px lighten($c-green, 10%);
    }
  }
}

@media (max-width: 1123px) {
  .header-content {
    margin: 0 5px 30px;
  }

  .header-search {
    margin: 0 5px;
  }
}

@media (max-width: 639px) {
  .header {
    margin-bottom: 25px;

    .delivery {
      position: absolute;
      visibility: hidden;
    }
  }
}
